   <script>
function goBack() {
    window.history.back();
}
</script>

    <%= form_for(@event) do |e| %>
      <%= e.label :summary  %>
      <%= e.text_field :summary %>
      <br/>
      <br/>
      <%= e.label :start_at %>
      <%= e.text_field :start_at %>
      <br/>
      <br/>
      <%= e.label :end_at %>
      <%= e.text_field :end_at %>
      <br/>
      <br/>
      <%= e.label :location %>
      <%= e.text_field :location %>
      <br/>
      <%= e.label :title %>
      <%= e.text_field :title %>
      <br/>
      <br/>
      <%= e.submit "Update" %>
      <button onclick="goBack()">Cancel</button>
    <% end %>
