
    <p>
      <%= @event.summary %>
    </p>

    <p>
      <%= @event.start_at %>
    </p>

    <p>
      <%= @event.end_at %>
    </p>

    <p>
      <%= @event.location %>
    </p>
    <%= link_to "Home", root_path %>

